In [1]:
import os

print(os.path.exists('/home/tiger/nfs/data/old_data/Audiostock/audios/1210764.wav'))

True

In [2]:
import audioread
with audioread.audio_open('/home/tiger/nfs/data/old_data/Audiostock/audios/1210764.wav') as f:
    totalsec = f.duration

In [3]:
print(totalsec)

1.5

In [2]:
import pandas as pd

df = pd.read_csv('tmp.tsv',sep='\t')
display(df)
n2n = {}
for t in df.itertuples():
    name = getattr(t,'name')
    n2n[name] = name[:-4]

df['name'] = df['name'].map(n2n)
display(df)

,name,dataset,caption,audio_path,duration
0,1210764.wav,audiostock,Ping pong! Quiz Correct Answer Successful Button,/home/tiger/nfs/data/old_data/Audiostock/audio...,1.500000
1,1108217.wav,audiostock,Sharp shamisen chichin part 2,/home/tiger/nfs/data/old_data/Audiostock/audio...,2.750000
2,1238575.wav,audiostock,The sound of locking the inside of the door of...,/home/tiger/nfs/data/old_data/Audiostock/audio...,1.495000
3,1153833.wav,audiostock,Electric sound like laser.,/home/tiger/nfs/data/old_data/Audiostock/audio...,1.851000
4,811188.wav,audiostock,Flashy and glittering blues jingle,/home/tiger/nfs/data/old_data/Audiostock/audio...,4.714313

,name,dataset,caption,audio_path,duration
0,1210764,audiostock,Ping pong! Quiz Correct Answer Successful Button,/home/tiger/nfs/data/old_data/Audiostock/audio...,1.500000
1,1108217,audiostock,Sharp shamisen chichin part 2,/home/tiger/nfs/data/old_data/Audiostock/audio...,2.750000
2,1238575,audiostock,The sound of locking the inside of the door of...,/home/tiger/nfs/data/old_data/Audiostock/audio...,1.495000
3,1153833,audiostock,Electric sound like laser.,/home/tiger/nfs/data/old_data/Audiostock/audio...,1.851000
4,811188,audiostock,Flashy and glittering blues jingle,/home/tiger/nfs/data/old_data/Audiostock/audio...,4.714313